params {
    input_queries = "/local_scratch/wittepaz/CMFI/PDBS/queries"
    input_references = "/local_scratch/wittepaz/CMFI/PDBS/references"
    mmseqs_clustering = "/local_scratch/wittepaz/CMFI/MMSEQS_clustering/merged_mmseqs_output.tsv"
    gff_dir = "/local_scratch/wittepaz/CMFI/GFFs/"
    fasta_dir = "/local_scratch/wittepaz/CMFI/fastas/"
    tmm_results = "/local_scratch/wittepaz/CMFI/TMMs/merged_results_tmhmm.txt"
    gene_ids_to_samples = "/local_scratch/wittepaz/CMFI/metadata/geneID_toSamples.txt"
    memeDBs = "/ceph/ibmi/it/databases/meme_motifs/motif_databases/"
    distance_operons = [150, 250, 350]
    distance_TMMs = [300, 450, 600]
    ignore_strand = true
    metadata_with_species = "/ceph/ibmi/it/projects/CMFI/Data/DATA_PIPELINE/metadata/merged_homologs_samples.csv"
    outputName = "results_all_samples_new_promoterDB_longer_test"

}