conda.enabled = true
executor.cpus = 4

process {
    cpus = 4
   
}

task {
    cpus = 4

}

profiles {
    skip_bakta {
        params.flag_skip_bakta = true
    }

    use_SignalP {
        params.flag_use_deeptmhmm = false
        params.flag_use_signalp = true
        params.flag_use_neither = false
        params.protein_filter_include = "LIPO"
        params.protein_filter_exclude = "None"
    }

    use_DeepTMHMM {
        params.flag_use_deeptmhmm = true
        params.flag_use_signalp = false
        params.flag_use_neither = false
        params.protein_filter_include = "_"
        params.protein_filter_exclude = "GLOB"
    }

    provide_Set {
        params.flag_use_deeptmhmm = false
        params.flag_use_signalp = false
        params.flag_use_neither = true
        params.protein_filter_include = "_"
        params.protein_filter_exclude = "None"
    }
}