params {
    input_queries = "/ceph/ibmi/it/projects/CMFI/Data/structuresPDBMultipleCorynes/extracted_pdbs_rank1"
    input_references = "/ceph/ibmi/it/projects/CMFI/Analysis/AnalyzingWithNewData/searchStructureBasedHomology/StructuresSA"
    mmseqs_clustering = "/ceph/ibmi/it/projects/CMFI/Analysis/Analysis_multipleCorynes/reduce_set_mmseqs/outputAll.tsv"
    gff_dir = "/ceph/ibmi/it/projects/CMFI/Data/newGenomes_2024/1480_Heilbronner_Laura_Camus_Genomes/CorynebacteriaGFFs/"
    fasta_dir = "/ceph/ibmi/it/projects/CMFI/Data/newGenomes_2024/1480_Heilbronner_Laura_Camus_Genomes/Corynebacteria/"
    tmm_results = "/ceph/ibmi/it/projects/CMFI/Analysis/Analysis_multipleCorynes/IdentifyingABCtransporters/all_tmm_results.txt"
    gene_ids_to_samples = "/ceph/ibmi/it/projects/CMFI/Analysis/Analysis_multipleCorynes/ConnectingResults_FoldSeek_MMseqs/geneID_toSamples.txt"
    memeDBs = "/ceph/ibmi/it/databases/meme_motifs/motif_databases/"
}